ul.pr-sortable-list,ul.pr-sortable-list ul,ul.pr-sortable-list li, #sortableListsBase ul, #sortableListsBase li {
	margin:0; padding:0;
	list-style-type:none;
	color:#6e6e6e;
	border:1px solid #c3c3c3;
}

ul.pr-sortable-list{ padding:0; background-color:#f9f9f9; }

ul.pr-sortable-list li.pr-sortable-list__item, #sortableListsBase li.pr-sortable-list__item{
	padding-left:50px;
	margin:5px;
	border: 1px solid #c3c3c3;
	background-color: #dcdcdc;
}

ul.pr-sortable-list.steps li.pr-sortable-list__item {background-color: #a0a0a0;}

li.pr-sortable-list__item .pr-sortable-list__item__title , #sortableListsBase li.pr-sortable-list__item .pr-sortable-list__item__title {
	padding:7px;
	background-color:#fff;
}

.move {
	cursor: move;
}

.clickable, .move .clickable{
	cursor: pointer;
}

.sortableListsOpener{
	cursor: pointer !important;
}

.pr-sortable-list__item--placeholder{
	background-color: #ff8 !important;
}

.pr-sortable-list__item--hint{
	background-color: #bbf !important;
}

.pr-sortable-list__item__title__flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.pr-sortable-list__item__title__col{
	flex: auto;
	width: 25%;
}

.pr-sortable-list__item__title__col.-action{
	text-align: right;
}

.pr-sortable-list__item__title__col.-label{
	font-size: 1.2em;
	color: #333;
	font-weight: bold;
}

.pr-sortable-list__item__title__button{
	margin-left: 15px;
}

.pr-sortable-list__item__images{
	max-height: 120px;
	margin-right: 10px;
	max-width: 350px;
	display: inline-block;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.70);
}

.pr-sortable-list__item__images img{
	max-height: 100%;
	max-width: 100%;
}
